table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    text-align: center;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-top: 20px;
    padding-bottom: 20px;
}