<nav class="navbar navbar-expand-sm bg-primary navbar-primary">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button mat-raised-button (click)="openDialog()">Add Data</button>

      </li>

  
   
    </ul>
    <div class="my-2 my-lg-0">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <app-filter (valueInputFilter)="InputFilter($event)"> </app-filter>

          </div>
          <div class="col-md-5">
            <a  style="color: #fff; cursor: pointer; margin:10px" class="nav-link" (click)="logout()">Logout</a>

          </div>
        </div>
      </div>
    

  
    </div>
   
  </nav>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-12 mt-2">
  <!--Open Dialog-->


  <!--Components-->
  <app-table [DataEmployee] = "dataSource"></app-table>
  <app-pagination [length]=5 [pageSize]=5 [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]=0>
  </app-pagination>
</div>
</div>
</div>