
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <!--Open Dialog-->
    <li>
      <button mat-raised-button (click)="openDialog()">Add Data</button>
    </li>

  <!--Components-->
  <app-filter (valueInputFilter)="InputFilter($event)"> </app-filter>
  <app-table [DataEmployee] = "dataSource"></app-table>
  <app-pagination [length]=5 [pageSize]=5 [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]=0>
  </app-pagination>

</body>
</html>

<router-outlet></router-outlet>

